body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#page-container {
	max-width: 970px;
	margin: 0 auto;
}

.button {
	padding: 5px 20px;
	text-transform: uppercase;
	box-shadow: 2px 2px 8px black;
	border-radius: 5px;
	text-align: center;
	color: white;
	margin: 5px 0;
}

hr {
	margin: 2rem 0;
}

.blue-button {
	background: linear-gradient(#8CB3D1, #27679D);
}

.orange-button {
	background: linear-gradient(#E9AD5E, #EE7302);
}

.blue {
	color: #26669C;
}

.red {
	color: #D72626;
}

#header h1, #header h2 {
	margin: 0;
}

#header img {
	max-width: 90px;
	position: absolute;
}

#header h1 {
	display: inline-block;
	margin-left: 90px;
	margin-top: 32px;
}



#header h2 {
	background: linear-gradient(#28679C, #5485AB, #28679C);
	color: white;
	padding: 1rem;
	font-size: 1.7rem;
}

#content {
	background: linear-gradient(#E3E3E3, #FFFFFF, #FFFFFF, #FFFFFF,#FFFFFF, #FFFFFF, #FFFFFF);
}

#content .sidebar {
	margin: 0;
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 20px;
}

#content .sidebar p {
	margin: 0;
	padding: 5px 0;
	font-weight: bold;
}

#content .sidebar p:nth-child(2) {
	font-size: 0.8rem;
}

#content .sidebar .ad {
	background-image: url("images/ad_background.png");
	
}

#content .sidebar .ad p {
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 1rem;
}

#content .sidebar .ad img {
	width: 100px;
    display: block;
    margin: 0 auto;
}

#content .sidebar .ad .ad-button {
	background: linear-gradient(#7CD0DE, #06C1DD);
	margin: 2rem 10px;
	text-transform: capitalize;
	display: inline-block;
}

.ad-button span {
	font-size: 0.5rem;
	vertical-align: middle;
}

.ad-button span.one {
	opacity: 0.33;
}

.ad-button span.two {
	opacity: 0.66;
}


#content .body-content {
	display: inline-block;
	width: 75%;
	margin: 0 1% 0 2%;
	vertical-align: top;
}

#content .body-content .topbar {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

#content .body-content .topbar > a {
	text-decoration: none;
	color: #27679D;
	display: inline-block;
	width: 73%;
	vertical-align: top;
}

#content .body-content .topbar > a > img {
	width: 20px;
}

#content .body-content .topbar .contact {
	display: inline-table;
	width: 25%;
	vertical-align: top;
}

#content .body-content .topbar .contact img {
	width: 40px;
	display: table-cell;
	margin-top: 5px;
	margin-right: 5px;
}

#content .body-content .topbar .contact div {
	display: table-cell;
	vertical-align: top;
}

#content .body-content .topbar .contact div p {
	margin: 0;
	padding: 0;
	font-size: 0.6rem;
	text-align: right;
	color: #888888;
}


#content .body-content .topbar .contact div p:nth-child(2) {
	font-size: 1.5rem;
	color: #00C0DD;
	font-weight: bold;
}

.body-content h1 {
	font-size: 1.5rem;
	color: #26669C;
}

.body-content a {
	color: #00C0DD;
	text-decoration: none;
}


.body-content img#interaction {
	width: 300px;
	margin: 1rem auto;
	display: block;
}

.body-content .big-3 {
	border: 5px solid #0087DD;
	box-shadow: 2px 2px 8px black;
	margin-bottom: 2rem;
}

.body-content .big-3 img {
	display: inline-block;
	width: 20%;
	padding: 20px 1%;
}

.body-content .big-3 div {
	display: inline-block;
	width: 77%;
	vertical-align: top;
}







