body {
	margin: 0;
	padding: 0;
	background-color: #265175;
	color: white;
	font-family: Arial;
}

.clear {
	clear: both;
}

.container {
	background: #fff;
}

#main-nav, #intro, #featured {
	max-width: 970px;
	margin: 0 auto;
}

#header .header-left {
	float: left;
	padding-left: 2rem;
	padding-top: 2rem;
}

#header .header-left img {
	max-width: 350px;
}

#header .header-right {
	float: right;
	padding-right: 2rem;
}

#header .header-right a {
	color: #CAAC06;
	padding: 0 2px;
}

#header .header-right .text-size {
	text-align: right;
}

#header .header-right .search {
	background-color: #444444;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
	padding: 15px 30px;
}

#header .header-right .search input[type="text"] {
	margin-right: 10px;
	box-shadow: 2px 2px 2px black;
	text-align: center;
	padding: 5px;
}

#header .header-right .search input[type="submit"] {
	background-color: #265175;
	border: 2px solid #C0C0C0;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 2px 2px 2px black;
}

#main-nav ul {
	background: linear-gradient(#3876AB, #4B80AB, #3876AB);
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

#main-nav ul li {
	display: inline-block;
}

#main-nav ul li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 1.5rem;
}

#intro .side-nav {
	display: inline-block;
	width: 19%;
	margin: 1%;
	vertical-align: top;
	text-align: center;
}

#intro .side-nav ul li {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

#intro .side-nav ul li a {
	color: white;
}

#intro .side-nav ul li::before {
	content: ">>";
	color: gold;
	font-size: 8px;
	vertical-align: middle;
	margin-right: 2px;
}

#intro .intro-content {
	display: inline-block;
	width: 76%;
	margin: 1%;
	vertical-align: top;
	text-align: center;
}

#intro .intro-content ul {
	list-style: none;
}

#intro .intro-content ul li {
	color: #FDD243;
	font-size: 1.25rem;
	margin: 10px 0;
	font-style: italic;
}

#intro .intro-content ul li:last-child {
	color: white;
	font-size: 1rem;
	font-style: normal;
}

#featured {
	color: black;
}

#featured a {
	color: #75A8D3;
	text-decoration: none;
}


#featured .left, #featured .right {
	width: 47%;
	margin: 1%;
	display: inline-block;
	text-align: center;
	border-top: 5px solid #75A8D3;
	vertical-align: top;
	padding-bottom: 10px;
}

#featured .left *, #featured .right * {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#featured .left ul, #featured .right ul {
	/*width: 55%;*/
	margin: 0 auto;
	list-style: square;
}

#featured h2 {
	margin: 0;
	margin-top: 5px;
}

#footer {
	background: linear-gradient(#265276, #3675AA);
	padding-top: 2rem;
}

#footer .footer-nav ul, #footer .copyright {
	text-align: center;
	
}

#footer .footer-nav ul li {
	display: inline-block;
}

#footer .footer-nav ul li a {
	color: #79ABD5;
	padding: 10px 30px;
	font-size: 1.25rem;
	text-decoration: none;
}

#footer .copyright {
	color: #79ABD5;
	font-size: 0.8rem;
	padding-bottom: 1rem;
}


